<div class="container">
  <h2>Gerencie suas listas aqui!</h2>
  <input type="text" [(ngModel)]="novaLista" placeholder="Nova Lista" class="form-control" />
  <button (click)="adicionarLista()" class="btn btn-primary mt-2">Adicionar</button>

  <ul class="list-group mt-3">
    <li *ngFor="let lista of listas" class="list-group-item">
      <div class="d-flex flex-column align-items-center">
        <span class="mb-2">{{ lista.name }}</span>
        <button
          class="btn btn-danger btn-sm mb-2"
          style="width: 150px;"
          (click)="removerLista(lista._id)">
          <i class="fas fa-trash-alt"></i> Remover lista
        </button>
        <app-itens-lista [listId]="lista._id"></app-itens-lista>
      </div>
    </li>
  </ul>
</div>
