<div class="container mt-3">
  <h4>Itens da Lista</h4>
  <input
    type="text"
    [(ngModel)]="novoItem"
    placeholder="Novo Item"
    class="form-control"
  />
  <input
    type="number"
    [(ngModel)]="quantidade"
    placeholder="Quantidade"
    class="form-control mt-2"
  />
  <button
    (click)="adicionarItem()"
    class="btn btn-primary mt-2"
    [disabled]="isItemInvalid() || quantidade <= 0"
  >
    Adicionar Item
  </button>

  <ul class="list-group mt-3">
    <li
      *ngFor="let item of itens"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span>
        {{ item.name }} - {{ item.quantity }}
        <span
          class="mx-2 badge"
          [ngClass]="{
            'badge-success': item.status === 'comprado',
            'badge-warning': item.status === 'pendente',
            'text-dark': item.status === 'pendente' || item.status === 'comprado'
          }"
        >
          {{ item.status }}
        </span>
      </span>
      <button (click)="alterarStatus(item)" class="btn btn-secondary btn-sm">
        Alterar Status
      </button>
    </li>
  </ul>
</div>
